:root {
  --primary-color: #555555;
}
.Header{
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
     align-items: center;
    
}
.Header *{
    padding: 0.5rem;
    background-color: var(--primary-color);
    
} 
.Header img{
    width: 3.5rem;
    padding: 0;
}
.Header :global(.active){
    color: greenyellow;
text-decoration: underline;
}