:root {
  --primary-color: #555555;
}
.Header{
    padding: 1rem;
    background-color: var(--primary-color);
    
}
.Header *{
    padding: 0.5rem;
    background-color: var(--primary-color);
    
} 
.Header :global(.active){
    color: greenyellow;
text-decoration: underline;
}