
/* :root {
  --colore-principale: #3498db;
  --spaziatura-base: 16px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    background-color: #333333;
}

a{
    text-decoration: none;
}
.d-flex{
  display: flex;
}
.movieCard-Container{
  margin: 1rem;
  
}
faStar{
  color: yellow;
}